body{
    font-family: 'Roboto', sans-serif;
    background-color: #E2E8FE;
}

/* navbar css starts here  */

.navbar {
  background-color:#0B3272;
}
.navbar-nav > li {
  width: 150px;
}
.navbar-brand {
  padding-left: 20px;
}

/* navbar css ends here  */



.btn-info{
    padding-top: 20px;
    background-color: rgb(78, 153, 223);

    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}


.btn-info:hover{
    background-color: rgb(67, 83, 230)!important;
}
